<div style="visibility: hidden">
    <div class="md-dialog-container" id="{{playerUpdate.player._id}}-Pop">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        Modifier un joueur
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="playerUpdate.closeDialog()">
                        <i class="fa fa-2x fa-close"></i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <md-content layout="row" layout-padding>
                    <form name="playerUpdateForm" flex>
                        <div layout="column">
                            <md-input-container flex>
                                <label>Nom</label>
                                <input name="lastname" ng-model="playerUpdate.player.lastname" md-maxlength="30"
                                       required/>
                                <div ng-messages="playerUpdateForm.lastname.$error" md-auto-hide="false" ng-show="playerUpdateForm.lastname.$touched">
                                    <div ng-message="required">Le nom est obligatoire.</div>
                                    <div ng-message="md-maxlength">Le nom doit faire moins de 30 caractères.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Prénom</label>
                                <input name="firstname" ng-model="playerUpdate.player.firstname" md-maxlength="30"
                                       required/>
                                <div ng-messages="playerUpdateForm.firstname.$error">
                                    <div ng-message="required">Le prénom est obligatoire.</div>
                                    <div ng-message="md-maxlength">Le prénom doit faire moins de 30 caractères.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Poste</label>
                                <md-select name="post" ng-model="playerUpdate.player.post"
                                           required>
                                    <md-option ng-value="'GK'">Gardien</md-option>
                                    <md-option ng-value="'L_B'">Défenseur gauche</md-option>
                                    <md-option ng-value="'R_B'">Défenseur droit</md-option>
                                    <md-option ng-value="'L_M'">Milieu gauche</md-option>
                                    <md-option ng-value="'R_M'">Milieu droit</md-option>
                                    <md-option ng-value="'L_F'">Attaquant gauche</md-option>
                                    <md-option ng-value="'R_F'">Attaquant droit</md-option>
                                </md-select>
                                <div ng-messages="playerUpdateForm.post.$error">
                                    <div ng-message="required">Le poste est obligatoire.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Statistiques</label>
                                <input name="statToAdd" ng-model="playerUpdate.statToAdd" md-maxlength="30"/>
                                <div ng-messages="playerUpdateForm.statToAdd.$error">
                                    <div ng-message="md-maxlength">La statistique doit faire moins de 30 caractères.
                                    </div>
                                </div>
                                <md-button ng-click="playerUpdate.addStat()" class="md-raised md-primary">
                                    Ajouter la statistique
                                </md-button>
                            </md-input-container>
                            <div ng-repeat="stat in playerUpdate.player.Stats" class="form-group">
                                <md-slider-container>
                                    <span>
                                        <md-button ng-click="playerUpdate.removeStat(stat)"
                                                   class="md-raised md-icon-button md-warn">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                        <label>{{stat.name}}</label>
                                    </span>
                                    <md-slider flex min="1" max="99" tickinterval="5" ng-model="stat.value"
                                               aria-label="test"
                                               id="stat-test-slider">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="stat.value" aria-label="test"
                                               aria-controls="stat-test-slider" min="1" max="99">
                                    </md-input-container>
                                </md-slider-container>
                            </div>
                        </div>
                    </form>
                    <div flex ng-switch on="playerUpdate.player.Stats.length" class="chart-area">
                        <div ng-switch-when="0">
                            Ajoutez des statistiques au joueur pour générer son graphique.
                        </div>

                        <div ng-switch-default>
                            <player-stat-chart player="playerUpdate.player"></player-stat-chart>
                        </div>
                    </div>
                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button class="md-warn" ng-click="playerUpdate.deletePlayer()">Supprimer</md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="playerUpdate.updatePlayer()">Enregistrer</md-button>
                <md-button ng-click="playerUpdate.closeDialog()">Fermer</md-button>
            </md-dialog-actions>
    </div>
</div>