<div flex layout="row" class="layout-row player player-{{playerRow.player.condition_type}}" layout-padding>
    <i ng-if="playerRow.player.condition_type == 'good'" class="fa fa-thumbs-up condition" aria-hidden="true"></i>
    <i ng-if="playerRow.player.condition_type == 'hurt'" class="fa fa-medkit condition" aria-hidden="true"></i>
    <i ng-if="playerRow.player.condition_type == 'tired'" class="fa fa-power-off condition" aria-hidden="true"></i>

    <span id="text">
    {{playerRow.player.firstname}} {{playerRow.player.lastname}}
    </span>

    <span class="post">
        <span id="post" ng-show="playerRow.options === undefined || playerRow.options.post == true" >
        {{playerRow.player.post | formatPost }}
        </span>
        <span id="post" ng-show="playerRow.options.post == false" >
        {{playerRow.player.post | formatPostShort }}
        </span>
    </span>
</div>