<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                {{ event.title }} le {{formatDate(event.start) | date:'dd/MM/yyyy à HH:mm' }}
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <i class="fa fa-2x fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-gt-xs="row" layout="column" layout-padding>
            <div flex class="md-list-item-text player-list">
                <h3>{{event.city}} - {{event.location}}</h3>
                <div ng-switch="event.type.id">
                    <div ng-switch-when="match">
                        <div class="match">
                            {{team._id}} {{ event.ownScore | number }} / {{ event.oppScore | number}} {{event.opponent}}
                        </div>
                        <md-list ng-if="isFutureEvent()">
                            <md-list-item class="row-{{eventPlayer.confirmed}}"
                                          ng-repeat="eventPlayer in event.invitedPlayers"
                                          ng-init="player=findPlayer(eventPlayer.player)">
                                <md-button ng-click="showDialog($event, player._id)">
                                    <i class="fa fa-2x fa-search-plus"></i>
                                </md-button>
                                <md-input-container>
                                    <label>Participe ?</label>
                                    <md-select ng-model="eventPlayer.confirmed"
                                               ng-change="updateParticipation(event._id, $index, eventPlayer.confirmed)"
                                               style="min-width: 150px;">
                                        <md-option ng-value="'wait'">En attente</md-option>
                                        <md-option ng-value="'wont'">Pas disponible</md-option>
                                        <md-option ng-value="'will'">Participera</md-option>
                                    </md-select>
                                </md-input-container>
                                <div flex class="md-list-item-text">
                                    <player-row player="player"></player-row>
                                </div>
                                <player-view player="player"></player-view>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>

                        <div ng-if="!isFutureEvent()">
                            <md-tabs style="min-width: 600px" md-dynamic-height md-border-bottom>
                                <md-tab label="Timeline du match">
                                    <timeline>
                                        <timeline-event ng-repeat="matchEvent in event.matchEvents" side="{{matchEvent.side}}">
                                            <timeline-badge class="{{matchEvent.badgeClass}}">
                                                <i class="fa {{matchEvent.badgeIconClass}}"></i>
                                            </timeline-badge>
                                            <timeline-panel class="{{matchEvent.badgeClass}}">
                                                <timeline-heading>
                                                    <h4>
                                                        {{matchEvent.title}} - {{matchEvent.timer | hourSecond}}

                                                        <small ng-if="matchEvent.attachedPlayer"> - {{ matchEvent.attachedPlayer + (matchEvent.attachedPlayer2 ? ' (rentre) = ' + matchEvent.attachedPlayer2 +' (sort)' : '') }}</small>
                                                    </h4>
                                                </timeline-heading>

                                                <p ng-if="matchEvent.comment">{{matchEvent.comment}}</p>
                                            </timeline-panel>
                                        </timeline-event>
                                    </timeline>
                                </md-tab>

                                <md-tab label="Possession du ballon">
                                    <canvas class="chart chart-doughnut"
                                            chart-data="event.possessionData" chart-labels="['Nous', 'Adversaires']" chart-colors="['#3f51b5', '#ff9b21']">
                                    </canvas>
                                </md-tab>

                                <md-tab label="Joueurs ayant participé">
                                    <md-list>
                                        <md-list-item ng-repeat="eventPlayer in event.invitedPlayers" ng-init="player=findPlayer(eventPlayer.player)">
                                            <div flex class="md-list-item-text">
                                                <player-row player="player"></player-row>
                                            </div>
                                            <player-view player="player"></player-view>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </div>
                    <div ng-switch-when="training">
						<md-list>
                            <md-list-item class="row-{{eventPlayer.confirmed}}"
                                          ng-repeat="eventPlayer in event.Players"
                                          ng-init="player=findPlayer(eventPlayer.player)">
                                <md-button ng-click="showDialog($event, player._id)">
                                    <i class="fa fa-2x fa-search-plus"></i>
                                </md-button>
                                <md-input-container>
                                    <label>Participe ?</label>
                                    <md-select ng-model="eventPlayer.confirmed"
                                               ng-change="updateParticipation($parent.$index, $index, eventPlayer.confirmed)"
                                               style="min-width: 150px;">
                                        <md-option ng-value="'wait'">En attente</md-option>
                                        <md-option ng-value="'wont'">Pas disponible</md-option>
                                        <md-option ng-value="'will'">Participera</md-option>
                                    </md-select>
                                </md-input-container>
                                <div flex class="md-list-item-text">
                                    <player-row player="player"></player-row>
                                </div>
                                <player-view player="player"></player-view>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-if="isFutureEvent()" class="md-warn" ng-click="deleteEvent()">Supprimer</md-button>
        <span flex></span>
        <md-button ng-if="isTodayEvent() && !team.followedEvent && event.type.id == 'match' && isFutureEvent()" class="md-primary" ng-click="followEvent()">Suivre le match</md-button>
        <md-button ng-click="closeDialog()">Fermer</md-button>
    </md-dialog-actions>
</md-dialog>
